<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/img/car-icon.png" />
    <link rel="stylesheet" href="/css/main.css">
	<title>Add Vehiculo</title>
</head>
<body>
	<header th:replace="fragments/parts::header"></header>	
	<section th:replace="fragments/parts::portada"></section>	
	<div class="contenido">
		<aside th:replace="fragments/parts::aside"></aside>	
		<main>
			<form action="#" th:action="@{/vehiculo-add}" th:object="${vehiculo}" method="post">
				<label for="matricula" >Matricula</label> 
				<input type="text" id="matricula" name="matricula" th:field="*{matricula}" required>
				<br><br>
				<label for="modelo" >Modelo</label>
				<input type="text"  id="modelo" name="modelo" th:field="*{modelo}" required>
				<br><br>
				<label for="tipo">Tipo</label>
				<select name="tipo" id="tipo" th:field="*{tipo}" required>
					<option th:value="Monovolumen" >Monovolumen</option>
					<option th:value="Furgoneta" >Furgoneta</option>
					<option th:value="MiniCamion" >Mini Camión</option>
				</select>
				<br><br>
				<label for="consumo" >Consumo</label>
				<select name="idPropietario" id="consumo" th:field="*{consumo}" required>
					<option th:value="Gasolina" >Gasolina</option>
					<option th:value="Diesel" >Diesel</option>
					<option th:value="Hibrido" >Hibrido</option>
					<option th:value="Electrico" >Eléctrico</option>
				</select>
				<br><br>
				<label for="estado" >Estado</label>
				<select name="estado" id="estado" th:field="*{estado}" required>
					<option th:value="disponible" >Disponible</option>
					<option th:value="Alquilado" >Alquilado</option>
					<option th:value="Averiado" >Averiado</option>			
					<option th:value="Revision" >Revisión</option>
				</select>
				<br><br>
				<input type="submit" class="" value="ENVIAR" />
			</form>
		</main>   	
	</div>	
	<footer th:replace="fragments/parts::footer"></footer>
</body>
</html>