<!DOCTYPE html>
<html>
<head th:replace="fragments/parts::head(title='Lista Alquileres')"></head>
<body>
	<header th:replace="fragments/parts::header"></header>
	<section th:replace="fragments/parts::portada"></section>
	<div class="contenido">
		<aside th:replace="fragments/parts::aside"></aside>
		<main>
			<div class="bloque">
				<button type="button" class="boton">
					<a th:href="@{/alquiler-add}">Añade un Alquiler</a>
				</button>
			</div>
			<div class="bloque tabla">
				<table class="table table-stripped tabla">
					<thead class="resaltado">
						<tr>
							<th>ID</th>
							<th>Cliente</th>
							<th>Vehiculo</th>
							<th>Inicio</th>
							<th>Fin</th>
							<th>Pago</th>
							<th>Comentario</th>
							<th>Estado</th>
							<th>editar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a : ${alquileres}">
							<td th:text="${a.id}"></td>
							<td th:text="${a.cliente.dni}"></td>
							<td th:text="${a.vehiculo.matricula}"></td>
							<td th:text="${a.getInicioFormato()}"></td>
							<td th:text="${a.getFinFormato()}"></td>
							<td th:text="${a.pago}"></td>
							<td th:text="${a.comentario}"></td>
							<td th:text="${a.estado}"></td>
							<td>
								<a th:href="@{|/alquiler-edit?id=${a.id}|}" class="enlace">Modificar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
	<footer th:replace="fragments/parts::footer"></footer>
</body>
</html>