<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add Vehiculo</title>
</head>
<body>
	<header th:insert="fragments/parts::menu"></header><br>
	<form action="#" th:action="@{/vehiculo-edit}" th:object="${vehiculo}" method="post">
		<label for="id">Id</label>
		<input type="number" id="id" name="id" th:field="*{id}" readonly required>
		<br><br>
		<label for="estado" >Estado</label>
		<select name="estado" id="estado" th:field="*{estado}" required>
			<option th:value="disponible" >Disponible</option>
			<option th:value="Ocupado" >Ocupado</option>
			<option th:value="Averiado" >Averiado</option>			
			<option th:value="Revision" >Revisión</option>
		</select>
		<br><br>
		<input type="submit" class="" value="ENVIAR" />
	</form>

</body>
</html>