<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/img/car-icon.png" />
	<link rel="stylesheet" href="/css/main.css">
	<title>Editar Alquiler</title>
</head>
<body>
	<header th:replace="fragments/parts::header"></header>
	<section th:replace="fragments/parts::portada"></section>
	<div class="contenido">
		<aside th:replace="fragments/parts::aside"></aside>
		<main>
			<form action="#" th:action="@{/alquiler-edit}" th:object="${alquiler}" method="post" class="formulario bloque">
				<h2 class="resaltado">Edita un Alquiler</h2>
				<div class="grupoForm">
					<label for="id">Id</label> 
					<input type="number" id="id" name="id" th:field="*{id}" readonly required>
					<p class="resaltado" th:if="${errores.get('id') != null}" th:text="${errores.get('id')}"></p>
				</div>
				<div class="grupoForm">
					<label for="fecha_fin">Fecha de fin</label> 
					<input type="date" id="fecha_fin" name="fecha_fin" th:field="*{fecha_fin}">
					<p class="resaltado" th:if="${errores.get('fecha_fin') != null}" th:text="${errores.get('fecha_fin')}"></p>
				</div>
				<div class="grupoForm">
					<label for="pago">Pago</label> 
					<input type="number" id="pago" name="pago" th:field="*{pago}" step="0.01">
				</div>
				<div class="grupoForm">
					<label for="comentario">Comentario</label>
					<textarea th:field="*{comentario}" name="comentario" rows="5" cols="40"></textarea>
				</div>
				<div class="grupoForm">
					<label for="estado">Estado</label>
					<select name="idCliente" id="estado" th:field="*{estado}" required>
						<option th:value="Reserva" th:text="Reserva"></option>
						<option th:value="Iniciado" th:text="Iniciado"></option>
						<option th:value="Finalizado" th:text="Finalizado"></option>
						<option th:value="Anulado" th:text="Anulado"></option>
					</select>
					<p class="resaltado" th:if="${errores.get('estado') != null}" th:text="${errores.get('estado')}"></p>
				</div>
				<input type="submit" class="boton" value="ENVIAR" />
			</form>
		</main>
	</div>
	<footer th:replace="fragments/parts::footer"></footer>
</body>
</html>