<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editar Alquiler</title>
</head>
<body>
	<header th:insert="fragments/parts::menu"></header><br>
	<form action="#" th:action="@{/editAlquiler}" th:object="${alquilerDTO}" method="post">
		<label for="id">Id</label>
		<input type="number" id="id" name="id" th:field="*{id}" readonly required>
		<br><br>
		<label for="fecha_fin" >Fecha de fin</label>
		<input type="date" id="fecha_fin" name="fecha_fin" th:field="*{fecha_fin}">
		<br><br>
		<label for="pago">Pago</label>
		<input type="number"  id="pago" name="pago" th:field="*{pago}" step="0.01" required >
		<br><br>
		<label for="comentario">Comentario</label><br>
		<textarea th:field="*{comentario}" name="comentario" rows="8" cols="40" required></textarea>
		<br><br>
		<input type="submit" class="" value="ENVIAR" />
	</form>

</body>
</html>