<!DOCTYPE html>
<html>
<head th:replace="fragments/parts::head(title='Inicio')"></head>
<body>
	<header th:replace="fragments/parts::header"></header>	
	<section th:replace="fragments/parts::portada"></section>	
	<div class="contenido">
		<aside th:replace="fragments/parts::aside"></aside>
		<main>
<!-- 			<h1>Bienvenido <span sec:authentication="name"></span></h1> -->
			<div class="configura bloque">
				<h1 class="resaltado">Elige un tipo de Vehículo</h1>
				<div class="busquedas">				
					<div class="caja" >
					<h2>Monovolumen</h2>
						<a th:href="@{/vehiculos?tipo=Monovolumen}">
							<img src="/img/monovolumen.png" alt="Monovolumen">
						</a>
					</div>
					<div class="caja" >
						<h2>Furgoneta</h2>
						<a th:href="@{/vehiculos?tipo=Furgoneta}">
							<img src="/img/furgoneta.png" alt="furgoneta">
						</a>
					</div>
					<div class="caja" >
						<h2>Mini Camión</h2>
						<a th:href="@{|/vehiculos?tipo=Mini Camión|}">
							<img src="/img/miniCamion.png" alt="miniCamion">
						</a>
					</div>
				</div>
			</div>			
		</main>   	
	</div>	
	<footer th:replace="fragments/parts::footer"></footer>
</body>
</html>