<!DOCTYPE html>
<html>
<head th:replace="fragments/parts::head(title='Login')"></head>
<body>
	<header th:replace="fragments/parts::header"></header>
	<section th:replace="fragments/parts::portada"></section>
	<div class="contenido">
		<aside th:replace="fragments/parts::aside"></aside>
		<main>
			<form action="#" th:action="@{/perform_login}" method="post" class="formulario bloque">
				<h2 class="resaltado">Iniciar Sesión</h2>
				<label for="username">Email</label>
				<input type="email" id="username" name="username" required>
				<label for="password">Contraseña</label>
				<input type="password" id="password" name="password" required>
				<input type="submit" class="boton" value="Enviar"/>
			</form>
		</main>
	</div>
	<footer th:replace="fragments/parts::footer"></footer>
</body>
</html>