<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<link rel="shortcut icon" href="/img/car-icon.png" />
	<link rel="stylesheet" href="/css/main.css">
	<title>Lista vehiculos</title>
</head>
<body>
	<header th:replace="fragments/parts::header"></header>
	<section th:replace="fragments/parts::portada"></section>
	<div class="contenido">
		<aside th:replace="fragments/parts::aside"></aside>
		<main>
			<h1>
				<a th:href="@{/vehiculo-add}">Añade un Vehiculo</a>
			</h1>
			<br>
			<table class="">
				<thead class="">
					<tr>
						<th>ID</th>
						<th>Matricula</th>
						<th>Modelo</th>
						<th>Tipo</th>
						<th>Consumo</th>
						<th>Estado</th>
						<th>Alquilar</th>
						<th>Eliminar</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="v : ${vehiculos}">
						<td th:text="${v.id}"></td>
						<td th:text="${v.matricula}"></td>
						<td th:text="${v.modelo}"></td>
						<td th:text="${v.tipo}"></td>
						<td th:text="${v.consumo}"></td>
						<td th:text="${v.estado}"></td>
						<td><a th:href="@{|/alquiler-cliente-add?id=${v.id}|}">Ir</a></td>
						<td><a th:href="@{|/vehiculo-delete?id=${v.id}|}">Borrar</a></td>
						<td><a th:href="@{|/vehiculo-edit?id=${v.id}|}">Editar</a></td>
					</tr>
				</tbody>
			</table>
		</main>
	</div>
	<footer th:replace="fragments/parts::footer"></footer>
</body>
</html>