<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista vehiculos</title>
</head>
<body>
	<header th:insert="fragments/parts::menu"></header><br>
	<table class="">
		<thead class="">
			<tr>
				<th>ID</th>
				<th>Matricula</th>
				<th>Modelo</th>
				<th>Tipo</th>
				<th>Consumo</th>
				<th>Estado</th>
				<th>Alquilar</th>
				<th>Eliminar</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="v : ${vehiculos}">
				<td th:text="${v.id}"></td>
				<td th:text="${v.matricula}"></td>
				<td th:text="${v.modelo}"></td>
				<td th:text="${v.tipo}"></td>
				<td th:text="${v.consumo}"></td>
				<td th:text="${v.estado}"></td>
				<td><a th:href="@{|/alquiler-cliente-add?id=${v.id}|}">Ir</a></td>
				<td><a th:href="@{|/vehiculo-delete?id=${v.id}|}">Borrar</a></td>
				<td><a th:href="@{|/vehiculo-edit?id=${v.id}|}">Editar</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>