<!DOCTYPE html>
<html>
<head th:replace="fragments/parts::head(title='Lista vehiculos')"></head>
<body>
	<header th:replace="fragments/parts::header"></header>
	<section th:replace="fragments/parts::portada"></section>
	<div class="contenido">
		<aside th:replace="fragments/parts::aside"></aside>
		<main>
			<div class="bloque" sec:authorize="hasRole('ADMIN')">
				<button type="button" class="boton">
					<a th:href="@{/vehiculo-add}">Añade un Vehiculo</a>
				</button>
			</div>
			<div class="bloque tabla">
				<table class="table table-stripped tabla">
					<thead class="resaltado">
						<tr>
							<th sec:authorize="hasRole('ADMIN')">ID</th>
							<th>Matricula</th>
							<th>Modelo</th>
							<th>Tipo</th>
							<th>Consumo</th>
							<th sec:authorize="hasRole('ADMIN')">Estado</th>
							<th sec:authorize="!hasRole('ADMIN')">Reservar</th>
							<th sec:authorize="hasRole('ADMIN')">Eliminar</th>
							<th sec:authorize="hasRole('ADMIN')">Editar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="v : ${vehiculos}">
							<td th:text="${v.id}" sec:authorize="hasRole('ADMIN')"></td>
							<td th:text="${v.matricula}"></td>
							<td th:text="${v.modelo}"></td>
							<td th:text="${v.tipo}"></td>
							<td th:text="${v.consumo}"></td>
							<td th:text="${v.estado}" sec:authorize="hasRole('ADMIN')"></td>
							<td sec:authorize="!hasRole('ADMIN')">
								<a th:href="@{|/alquiler-cliente-add?id=${v.id}|}" class="enlace" sec:authorize="isAuthenticated()">Ir</a>
								<a th:href="@{/login-user}" sec:authorize="!isAuthenticated()" class="enlace">Ir</a>
							</td>
							<td sec:authorize="hasRole('ADMIN')"><a th:href="@{|/vehiculo-delete?id=${v.id}|}" class="enlace">Borrar</a></td>
							<td sec:authorize="hasRole('ADMIN')"><a th:href="@{|/vehiculo-edit?id=${v.id}|}" class="enlace">Modificar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
	<footer th:replace="fragments/parts::footer"></footer>
</body>
</html>