<meta charset="UTF-8">

<head th:fragment="head(title)">
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/img/car-icon.png" />
	<script defer src="/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="/css/main.css">
	<title th:text="${title}"></title>
</head>

<header th:fragment="header">	
	<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  		<div class="logotipo">
  			<a th:href="@{/}">
  				<img src="/img/logo.png" alt="logotipo" class="logotipo">
  			</a> 
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    	</div>
    	<div class="collapse navbar-collapse" id="navbar">
      		<div class="navbar-nav">
      			<h2 class="">
        			<a th:href="@{/vehiculos}">Vehículos</a>
        		</h2>
        		<h2 class="" sec:authorize="isAuthenticated()">
        			<a th:href="@{/alquileres}">Alquileres</a>
        		</h2>
        		<h2 class="" sec:authorize="hasRole('ADMIN')">
        			<a th:href="@{/usuarios}">Usuarios</a>
        		</h2>
				<h2 class="">
        			<a th:href="@{/usuario-add}">Registrarse</a>
        		</h2>
        		<h2 class="" sec:authorize="isAuthenticated()">
        			<a th:href="@{/usuario-edit}">Editar perfil</a>
        		</h2>
				<h2 class="" sec:authorize="!isAuthenticated()">
        			<a th:href="@{/login-user}">Login</a>
        		</h2>
        		<h2 class="" sec:authorize="isAuthenticated()">
        			<a data-bs-toggle="modal" href="#cerrarSesion" role="button">Logout</a>
        			<div class="modal fade" id="cerrarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
    						<div class="modal-content">
    							<div class="titulo">  							
      								<h2 class="resaltado">Cerrar Sesión</h2>
      							</div>
      							<div class="cuerpo">
      								<button type="button" class="boton" data-bs-dismiss="modal">No</button>
      								<button type="button" id="actualizar-datos" class="boton">
      									<a th:href="@{/logout-user}">Si</a>
      								</button>
      							</div>    							
    						</div>
  						</div>
					</div>
        		</h2>
    		</div>
  		</div>
	</nav>
</header>

<section class="portada" th:fragment="portada">
	<h1>Tu transporte de confianza<br>a un precio accesible</h1>
	<img src="/img/coche1.jpg" class="normal" alt="Portada">
	<img src="/img/coche1_2.jpg" class="reducida" alt="Portada">
</section>

<aside th:fragment="aside">
	<section>
		<article class="ofertas bloque">
			<h2 class="resaltado" >Ofertas:</h2>
			<p>Alquile coche una semana por solo 150 €.</p>
			<p>Plan especializado para empresas con descuentos de asta 35 %.</p>
			<p>Alquile 3 vehículos por mes con 20 % de descuento.</p>
			<p>Llévese un mini camión para una mudanza 2 días por 60 €.</p>
		</article>
		<article class="info bloque">
			<h2 class="resaltado" >Reservas Online:</h2>
			<p>
				En cualquier momento, desde cualquier lugar, tendrás acceso al catálogo completo de vehículos, 
				con confirmación de disponibilidad y con <b>promociones exclusivas</b> en todos nuestros vehículos, 
				en especial el alquiler de furgonetas.
			</p>
		</article>
		<article class="info bloque">
			<h2 class="resaltado" >Alquiler flexible:</h2>
				<p>
					Para <b>1 día</b> o para períodos <b>superiores a los 30 días</b>, nos adaptamos a ti. 
					La mejor elección para una escapada de fin de semana, un viaje de largo 
					distancia o un traslado temporal en tu puesto de trabajo.
				</p>
		</article>
	</section>
</aside>

<footer th:fragment="footer">
	<article class="contacto">
		<p> <span class="resaltado" >Teléfono:</span> 999 666 777, +34 666 888 222</p>
		<p> <span class="resaltado" >Correo:</span> AlquileresMercurio@hotmail.com</p>
		<p>
			<span class="resaltado" >Punto de recogida:</span> Sevilla, calle León, número 13, 
			<a href="https://www.google.com/maps/@37.389276,-5.9767151,15.19z" target="_blank" class="enlace">
			<b>ubicación</b></a>
        </p>
	</article>
	<article class="horario">
		<p><span class="resaltado" >Horario</span> de atención en sede</p>
		<p> <span class="resaltado" >De lunes a viernes:</span> 08:00h - 15:30h, 17:00h - 21:30h</p>
		<p> <span class="resaltado" >Sábado y domingo:</span> 08:30h - 15:30h, 17:00h - 20:30h</p>
	</article> 
</footer>