@import "base.scss";

main {
    h3,
    h2,
    p {
        width: $todo;
        margin-bottom: 20px;
    }
}

section.usuario {
    @include alinear;
    width: $todo;
    margin: 25px auto;

    div.datos {
        @include alinear;
        padding: 1rem;
        width: $todo;
    }

    img {
        display: none;
        margin-top: 20px;
        padding: 1.1rem;
        width: 180px;
        height: 200px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
}

section.noti {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    width: $todo;
    margin: 0px auto;

    article {
        padding: 1.1rem;
        margin-top: 25px;
        width: $todo;

        h2 {
            border-bottom: 3px solid $resaltado;
            padding-bottom: 5px;
            font-size: 2rem;
        }

    }

}



@media screen and (min-width: $mediano) {
    section.usuario, section.noti {
        width: 70%;
    }
}

@media screen and (min-width: $grande) {
    section.usuario, section.noti {
        width: $todo;

        div.datos {
            width: 70%;

            h2 {
                font-size: 1.8rem !important;
            }

            h3 {
                font-size: 1.3rem !important;
            }
        }

        img {
            display: block;
            width: 180px;
            height: 200px;
        }
    }

    section.noti article {
        width: #{calcularAnchura(2)}+'%';
    }
}
