@function calcularAnchura($num_col) {
    @return floor( ( 100 / $num_col ) * 0.9 );
}

@for $i from 1 through 5 {

    @if $i == 1 {
        article.ofertas :nth-child(#{$i}) {
            margin-bottom: 25px;
        }

    } @else if $i == 5 {
        article.ofertas :nth-child(#{$i}) {
            margin-bottom: 15px;
        }

    } @else {
        article.ofertas :nth-child(#{$i}) {
            margin-bottom: 35px;
        }
    }
}
