@import "base.scss";

article.vehiculo {
    @include alinear;
    width: $todo;
    margin-top: 25px;

    div.datos,
    img {
        width: #{calcularAnchura(2)}+'%';
    }

    div.datos {
        @include alinear;
        padding: 1rem;

        h3,
        h2,
        p {
            width: $todo;
        }

        h2 {
            font-size: 1.8rem;
        }

        h3 {
            font-size: 1.3rem;
        }
    }

    img {
        padding: 1.1rem;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
}

div.configura {
    @include alinear_centrado;
    margin: 30px auto;
    width: 95%;
    padding: 1.1rem;

    h1 {
        margin: 20px;
        font-size: 2rem;
    }
}

div.busquedas {
    @include alinear_centrado;
    margin-top: 15px;

    div.caja {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px;
        
        img {
            width: 120px; 
            height: 90px;
            border-radius: 10px;
            margin: 15px;
        }
    }
}

form.formulario {
    @include alinear;
    width: 95%;
    padding: 1.1rem;

    label {
        width: 40%;
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    input {
        width: 55%;
        font-size: 1.8rem;
        margin-bottom: 30px;
        margin-left: 10px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    input:focus {
        border-color: $iluminar;
    }

    h2 {
        width: 100%;
        font-size: 2rem;
        margin-top: 15px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.boton {
    background-color: $resaltado_btn;
    border-color: $blanco;
    color: $blanco;
    margin: 30px;
    padding: 10px;
    font-size: 1.8rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.boton:hover {
    background-color: $iluminar_scroll;
}

h2.estadistica {
    margin: 20px;
    font-size: 1.5rem;
}

div.estadistica {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

div.chart_wrap {
    position: relative;
    padding: 30%;
    width: 400px; 
    height: 400px;
    overflow:hidden;
}

@media screen and (min-width: $mediano) {
    div.datos {
        h2 {
            font-size: 2.3rem !important;
        }

        h3 {
            font-size: 1.5rem !important;
        }
    }

    div.configura {
        width: 90%;

        h1 {
            font-size: 2.5rem;
        }
    }

    h2.estadistica {
        font-size: 2.3rem;
    }

    form.formulario {
        width: 90%;
    }
}

@media screen and (min-width: $grande) {
    div.configura, form.formulario {
        width: 85%;
    }

    div.busquedas {
        flex-wrap: nowrap !important;
    }
}
