<nav th:fragment="menu">
	<ul style="list-style: none; Display: flex;">
		<li style="margin-left: 15px;"><a th:href="@{/}">Inicio</a></li>
		<li style="margin-left: 15px;"><a th:href="@{/usuarios}">Lista de Usuario</a></li>
		<li style="margin-left: 15px;"><a th:href="@{/addUsuario}">Añade un Usuario</a></li>
		<li style="margin-left: 15px;"><a th:href="@{/vehiculos}">Lista de Vehiculos</a></li>
		<li style="margin-left: 15px;"><a th:href="@{/addVehiculo}">Añade un Vehiculo</a></li>
		<li style="margin-left: 15px;"><a th:href="@{/alquileres}">Lista de Alquileres</a></li>
		<li style="margin-left: 15px;"><a th:href="@{/addAlquiler}">Añade un Alquiler</a></li>
	</ul>
</nav>